body {
	width: 100%;
}

p {
	text-align: justify;
}

#peerinfo{
	max-height: 300px;
    overflow: auto;
}

#blockchaininfo{
	max-height: 300px;
    overflow: auto;
}

#warning {
	margin-top: 50px;
	margin-bottom: 50px;
	color: red;
}

#screenshot {
	width: 300px;
}