body {
	width: 100%;
}

p {
	text-align: justify;
}

#peerinfo{
	max-height: 300px;
    overflow: auto;
}

#blockchaininfo{
	max-height: 300px;
    overflow: auto;
}

#result {
	max-height: 600px;
    overflow: auto;
}
#warning {
	margin-top: 150px;
	margin-bottom: 10px;
	color: red;
}

#screenshot {
	width: 300px;
}

#tryIt {
	font-style : italic;
}

#resultDiv {
	visibility: hidden;
}

.string { color: #86b300; }
.number { color: #ff9966; }
.boolean { color: #6666ff; }
.null { color: magenta; }
.key { color: #bf4080; }