body {
	width: 100%;
}

p {
	text-align: justify;
}

#peerinfo{
	max-height: 300px;
    overflow: auto;
}

#blockchaininfo{
	max-height: 300px;
    overflow: auto;
}

#warning {
	margin-top: 100px;
	margin-bottom: 50px;
	color: red;
}

#screenshot {
	width: 300px;
}

.string { color: #86b300; }
.number { color: #ff9966; }
.boolean { color: #6666ff; }
.null { color: magenta; }
.key { color: #bf4080; }